{% extends 'main_app/base.html' %}
{% load static %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Subject</label>
                            <select name="subject" class="form-control" id='subject'>
                                <option value="">----</option>
                                {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Session</label>
                            <select name="session" class="form-control" id='session'>
                                <option value="">----</option>
                                {% for session in sessions %}
                                <option value="{{ session.id }}">{{ session }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div style="display: none;" class="alert alert-danger" id='error_attendance'></div>
                            <div class="alert alert-success" id='success_attendance' style="display: none;"></div>
                            <button type="button" id='fetch_attendance' class="btn btn-success btn-block">Fetch Attendance</button>
                        </div>
                        <div class="form-group" style="display: none;" id="attendance_block">
                            <label>Attendance Date</label>
                            <select name="attendance_date" id='attendance_date' class="form-control"></select>
                            <div id="fetch_student_block" style="display: none;">
                                <button type="button" id='fetch_student' class="btn btn-success btn-block">Fetch Students</button>
                            </div>
                            <div id='student_data' class="card-footer"></div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    // Setup AJAX with CSRF token from meta tag
    $.ajaxSetup({
        headers: { 'X-CSRFToken': $('meta[name="csrf-token"]').attr('content') }
    });

    $("#fetch_attendance").click(function() {
        var subject = $("#subject").val();
        var session = $("#session").val();
        if (!subject || !session) {
            $("#error_attendance").html("Kindly Choose Both Subject and Session");
            $("#attendance_block").hide();
            $("#error_attendance").show();
            return false;
        }
        $.ajax({
            url: "{% url 'get_attendance' %}",
            type: 'POST',
            data: {
                subject: subject,
                session: session
            },
            success: function(response) {
                var json_data = JSON.parse(response);
                if (json_data.length > 0) {
                    var options = json_data.map(item => `<option value="${item.id}">${item.attendance_date}</option>`).join('');
                    $("#attendance_date").html(options);
                    $("#error_attendance").hide();
                    $("#attendance_block").show();  
                    $("#fetch_student_block").show();
                } else {
                    $("#error_attendance").html("No Attendance Date Found For Specified Data");
                    $("#error_attendance").show();
                    $("#attendance_date").html("");
                    $("#attendance_block").hide();
                }
            },
            error: function() {
                alert("Error While Fetching Data");
                $("#error_attendance").show();
                $("#attendance_block").hide();
            }
        });
    });

    $("#fetch_student").click(function() {
        var attendance_date = $("#attendance_date").val();
        if (!attendance_date) {
            alert("Please Choose A Date");
            return false;
        }
        $.ajax({
            url: "{% url 'get_student_attendance' %}",
            type: 'POST',
            data: { attendance_date_id: attendance_date },
            success: function(response) {
                var json_data = JSON.parse(response);
                if (json_data.length < 1) {
                    alert("No data to display");
                } else {
                    var div_data = `<hr/><div class='form-group'><div class='form-group'> <label>Student Attendance</label><div class='row'>`;
                    json_data.forEach(student => {
                        div_data += `<div class='col-lg-3'><div class='form-check custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' ${student.status ? "checked='checked'" : ""} name='student_data[]' value="${student.id}" id='checkbox${student.id}' /> <label for='checkbox${student.id}' class='custom-control-label'>${student.name} [${student.status ? "Present" : "Absent"}]</label></div> </div>`;
                    });
                    div_data += `</div></div><div class='form-group'><button id='save_attendance' class='btn btn-success' type='button'>Save Attendance</button></div>`;
                    $("#student_data").html(div_data);
                }
            },
            error: function() {
                alert("Error in fetching students");
            }
        });
    });

    // Additional code for 'save_attendance' functionality can be similarly defined
});
$(document).on('click', '#save_attendance', function() {
    var attendanceData = [];
    $("input[name='student_data[]']").each(function() {
        attendanceData.push({
            id: $(this).val(),
            status: $(this).is(':checked') ? 1 : 0
        });
    });

    var attendanceDate = $("#attendance_date").val();
    $.ajax({
        url: "{% url 'save_attendance' %}",
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
            date: attendanceDate,
            students: attendanceData
        }),
        success: function(response) {
            alert(response.message);
        },
        error: function(xhr, status, error) {
            alert("Error in saving attendance: " + xhr.responseText);
        }
    });
});


</script>
{% endblock %}
